.register-container {
  
  max-width: 800px;
  margin: auto;
  margin-top: 8rem;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
}

.register-container h3 {
  margin-bottom: 1rem;
  margin-top:3rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: center;
}

.add-child-button,
.submit-button {
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #00164F;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.add-child-button:hover,
.submit-button:hover {
  background-color: #0033CC;
}
