.register-container {
  padding-top: 8rem;
  margin-left: 15rem;
  margin-right: 15rem;
  padding-bottom: 4rem;
}

h1, h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.form-group label {
  min-width: 150px;
  margin-right: 10px;
}

.form-group input,
.form-group select {
  flex: 1;
  padding: 8px;
  box-sizing: border-box;
}

.child-info {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
}

.add-child-button,
.submit-button {
  display: block;
  width: 25%;
  padding: 10px;
  margin-top: 20px;
  background-color: #333639;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-child-button:hover,
.submit-button:hover {
  background-color: #0056b3;
}

.attendance-days {
  display: flex;
  flex-wrap: wrap;
}

.attendance-days label {
  margin-right: 10px;
}
