/* src/App.css */


.navbar {
  background-color: #00164F;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  height: 100px;
  padding-left: 30px;
  padding-left:15rem;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  
  padding-right:15rem;
}


.menu a {
  display: block;
  color: #F0F0F0;
  text-decoration: none;
  padding: 0.5rem 0.8rem; 
}

.menu a:hover {
  font-weight: bold;
}

.register-button {
  background-color: #F0F0F0;
  color: #00164F !important;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid #00164F;
  transition: border 0.3s ease;
}

.social-icons {
  display: flex;
  gap: 40px;
  margin-top: 1rem;
}

.social-icons img {
  width: 50px;
  height: 50px;
}
